@import 'variables.scss';

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
  height: 100vh;

  &_green {
    background-color: $color-green;
  }

  &_blue {
    background-color: $color-blue;
  }

  &_orange {
    background-color: $color-orange;
  }
}

.price-card {
  width: 380px;
  height: 770px;
  background-color: $color-bg-card;

  &:nth-child(2) {
    position: relative;
    overflow: hidden;
  }

  .container {
    display: flex;
    align-items: center;
    position: absolute;
    right: -35px;
    top: -18px;
    height: 122px;
    width: 150px;
<<<<<<< HEAD
    
    &__text {
=======
    display: flex;
    align-items: center;

    .popular {
      color: white;
      font-size: 14px;
      font-weight: bold;
>>>>>>> 19373499cd9cdb18934e8045e2179a3c14a9e17f
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 14px;
      font-weight: bold;
      height: 25px;
      width: 147px !important;
      transform: rotate(45deg);
      background-color: $color-red;
    }
  }

  &__title {
    margin: 0;
    margin-top: 33px;
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    text-align: center;
  }

  &__text {
    font-weight: 300;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 24px; 
  }

  &__price {
    margin-top: 33px;
    height: 105px;
    display: flex;

    &_green {
      background-color: $color-green;
    }

    &_blue {
      background-color: $color-blue;
    }

    &_orange {
      background-color: $color-orange;
    }
  }

  &__euro {
    margin: auto;
    font-size: 55px;
    line-height: 67px;
    font-weight: 700;
  }

  &__description {
<<<<<<< HEAD
    margin: 0;
    margin-top: 40px;
    text-align: center;
=======
    margin: 40px auto;
    margin-bottom: 0;
    width: 327px;
>>>>>>> 19373499cd9cdb18934e8045e2179a3c14a9e17f
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
  }

  &__options-list {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    list-style-type: none;
  }

  &__options-list-item {
    padding: 16px 0;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;

    &:nth-child(odd) {
      background-color: $color-odd-item;
    }
  }

  &__order-btn {
<<<<<<< HEAD
=======
    font-size: 14px;
    width: 155px;
    height: 40px;
>>>>>>> 19373499cd9cdb18934e8045e2179a3c14a9e17f
    display: block;
    margin: 39px auto 0;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 155px;
    height: 40px;
    cursor: pointer;

    &_green {
      background-color: $color-green;
    }

    &_blue {
      background-color: $color-blue;
    }

    &_orange {
      background-color: $color-orange;
    }
  }
}

.checkmark {
    display: inline-block;
    margin: 0 22px;
    width: 15px;
    height: 13px;
   
    &_green {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
    }

    &_blue {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
    }

    &_orange {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    }
  }

.popular-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: -35px;
    top: -18px;
    height: 122px;
    width: 150px;
      
    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-red;
      font-size: 14px;
      font-weight: bold;
      height: 25px;
      width: 147px !important;
      transform: rotate(45deg);
      }
  }

